<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>EndGame Auction - <%= account.Class %> </title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <div class="account-card">
        <h2><%= className %></h2>
        <ul>
          <li>Level: <%= account.Level %></li>
          <li>AP: <%= account.Ap %></li>
          <li>DP: <%= account.Dp %></li>
          <li>Silver: <%= account.Silver %></li>
          <li>Pearls: <%= account.Pearls %></li>
        </ul>
        <div class="buy-container">
          <span class="price">Price: $<%= account.price %></span>
          <button id="buy-button" class="buy-button"><a href="/sold">Buy Now</a></button>
          <button class="edit-button">
          <a href="/accounts/<%= account._id %>/edit">Edit</a>
          </button>
        </div>
      </div>
    </main>
    <script>
      document.getElementById('buy-button').addEventListener('click', async function(event) {
      event.preventDefault();
      if (confirm('Are you sure you want to buy this item?')) {
          window.location.href = '/buy/' + '<%= account._id %>';
      }
      });
    </script>


    <%- include('./partials/footer.ejs') %>

    <script src="/js/style.js"></script>
  </body>
</html>
