<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>EndGame Auction - <%= className %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
        <h1 class="class-title"><%= className %></h1>
        <div class="account-cards">
          <% accounts.forEach(function(account) { %>
            <div class="account-card">
              <h2><%= account.Class %></h2> <!-- Display the Class name -->
              <p><strong>Level:</strong> <%= account.Level %></p>
              <p><strong>Gear Score:</strong> <%= account.gearScore %></p> <!-- Use camelCase for Gear Score -->
              <a href="/classView/<%= className %>/<%= account._id %>">View Details</a>
             
            </div>
          <% }); %>
        </div>
        <div class="video-container">
            <% accounts.forEach(function(account) { %>
              <iframe src="<%= account.videoUrl %>" frameborder="0" allowfullscreen></iframe>
            <% }); %>
          </div>
      </main>

      <!-- Add this script block before the closing </body> tag -->
  
      
    <%- include('./partials/footer.ejs') %>
    
    <script src="/js/style.js"></script>
  </body>
</html>
