<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>EndGame Auction - <%= className %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
        <h1><%= className %> Details</h1>
        <ul>
          <% accounts.forEach(function(account) { %>
            <li>
                <a href="/classView/<%= className %>/<%= account._id %>">
                <%= account.Server %> ~ <%= account["Level"] %> ~ <%= account["Gear Score"] %>
                </a>
            </li>          
            <% }); %>
        </ul>
      </main>
      
    <%- include('./partials/footer.ejs') %>
    
    <script src="/js/style.js"></script>
  </body>
</html>